/* =========================
   ADD CART BUTTON
========================= */

.detail-buttons{
    display:flex;
    gap:12px;
    margin-top:20px;
}

.detail-buttons button{
    flex:1;
    border:none;
    padding:14px;
    border-radius:10px;
    font-size:15px;
    font-weight:700;
    cursor:pointer;
    transition:.2s;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
}

/* THÊM GIỎ */
.detail-buttons button:first-child{
    background:#1565c0;
    color:#fff;
}

.detail-buttons button:first-child:hover{
    transform:translateY(-2px);
    background:#0d47a1;
}