/* =========================
   BUY NOW BUTTON
========================= */

.detail-buttons button:last-child{
    background:#e53935;
    color:#fff;
}

.detail-buttons button:last-child:hover{
    transform:translateY(-2px);
    background:#c62828;
}
/* =========================
   BUY POPUP
========================= */

#buyPopup .popup-box{
    width:900px;
    max-width:95%;
    padding:25px;
}

/* TIÊU ĐỀ */

#buyPopup h2{
    text-align:center;
    font-size:24px;
    color:#1565c0;
    margin-bottom:20px;
}

/* NÚT ĐÓNG */

#buyPopup span{
    float:right;
    cursor:pointer;
    font-size:22px;
}

/* INPUT */

#buyPopup input,
#buyPopup textarea{
    width:100%;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #ddd;
    border-radius:6px;
}

/* TEXTAREA */

#customerInvoice,
#customerAddress{
    min-height:70px;
    resize:vertical;
}

/* ẢNH */

#buyProductImg{
    width:90px;
    height:90px;
    object-fit:contain;
    display:block;
    margin:15px auto;
}

/* TÊN SẢN PHẨM */

#buyProductName{
    text-align:center;
    margin-bottom:15px;
}

/* DANH SÁCH MỨC CÂN */

.buy-row{
    display:grid;
    grid-template-columns:40px 1fr 90px;
    align-items:center;
    gap:10px;
    padding:8px 0;
    border-bottom:1px solid #eee;
}

.buy-left{
    display:flex;
    justify-content:center;
}

.buy-middle{
    text-align:center;
}

.buy-right{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:4px;
}

/* Ô SỐ LƯỢNG NHỎ */

.buy-right button{
    width:28px;
    height:28px;
}

.buy-right input{
    width:50px !important;
    height:28px;

    text-align:center;
    margin:0;
    padding:0 4px;
}

/* NÚT GỬI */

.zalo-btn,
.mess-btn{
    width:220px;
    height:46px;
    border:none;
    border-radius:10px;
    color:#fff;
    font-weight:700;
    cursor:pointer;
    margin:15px 5px 0;
}

.zalo-btn{
    background:#1565c0;
}

.mess-btn{
    background:#0084ff;
}

/* CĂN GIỮA 2 NÚT */

#buyPopup .popup-box{
    text-align:center;
}
/* 4 Ô THÔNG TIN */

.buy-form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    margin-bottom:10px;
}

.buy-form-grid input{
    width:100%;
}

/* 2 Ô ĐỊA CHỈ */

.buy-address-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    margin-bottom:15px;
}

.buy-address-grid textarea{
    width:100%;
    min-height:80px;
}