
body{
  font-family:Arial;
  margin:0;
}

/* HEADER */
.header{
  background:#0d47a1;
  color:#fff;
}

.top-header{
  display:flex;
  justify-content:space-between;
  padding:10px;
}

.cart-header{
  color:#fff;
  cursor:pointer;
}

/* PRODUCT */
.product-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  padding:10px;
}

.product{
  border:1px solid #ddd;
  padding:10px;
}

/* CART */
.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.5);
  display:none;
}

.cart{
  position:fixed;
  right:0;
  top:0;
  width:350px;
  height:100%;
  background:#fff;
  display:none;
  padding:10px;
  overflow:auto;
}

.cart-item{
  border:1px solid #ddd;
  padding:10px;
  margin:10px 0;
}

.qty{
  display:flex;
  gap:10px;
  align-items:center;
}

.btn-buy{
  width:100%;
  padding:10px;
  background:red;
  color:#fff;
  border:none;
  margin-top:10px;
}
